* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(202, 235, 242, 0.2);
}
.navbar {
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #a9a9a9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  margin-top: 3%;
}
.nav-list {
  list-style: none;
}
.nav-list .list-item {
  margin-left: 10px;
  display: inline-block;
  padding: 20px 10px;
}
.profile-pic {
  padding-left: 30px;
}
img {
  max-width: 100%;
}
.about {
  background-color: #efefef;
  font-size: larger;
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}
p {
  font-size: 2rem;
}
.portfolio h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.portfolio_items {
  display: flex;
  justify-content: space-around;
}
.portfolio {
  background-color: rgb(255, 59, 63, 0.4);
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 2%;
}
.portfolio_items img {
  margin-bottom: 5%;
}

@media all and (max-width: 600px) {
  div {
    padding: 10px 10px;
  }
  p {
    font-size: 1.5rem;
  }
  .about {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
    flex-flow: column-reverse;
  }
  .portfolio_items {
    flex-flow: column-reverse;
    margin-bottom: 5px;
  }
  .portfolio_items img {
    margin-bottom: 5%;
  }

  .profile-pic {
    padding-left: 10px;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 3rem;
  }
  .nav-list {
    width: 90%;
    text-align: center;
  }
  .nav-list .list-item {
    display: block;
    padding: 10px 10px;
    border-top: 2px solid black;
  }
  .portfolio {
    background-color: rgb(179, 153, 115);
    flex-flow: column-reverse;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
